@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

:root {
    font-family: "Pretendard Variable";
}

* { box-sizing: border-box; }
:root {
    color: var(--foreground);
    fill: var(--foreground);
}

body { background-color: var(--background); }

#icon-selector { display: none; }
#viewer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 5px;
}

#viewer > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.5px;
}
#viewer > * > *:nth-child(1) > * {
    display: flex;
    background-color: var(--rearground);
    padding: 15px;
    border: 2px solid var(--rearground-border);
    border-radius: 10px;
    fill: var(--foreground2);
    transition-property: translate, fill;
    transition-duration: 0.3s;
}
#viewer > * > *:hover > * {
    fill: var(--foreground);
}

#viewer > * > *:hover > * { translate: 0px -10%; }
#viewer > * > *:focus > * { translate: 0px -20%; }
