
:root {
    --background: white;
    --rearground: rgb(240, 241, 245);
    --rearground-border: rgb(230, 230, 230);
    --foreground: black;
    --foreground2: rgb(50, 50, 50);
    --foreground3: rgb(100, 100, 100);
}