
:root {
    --background: white;
    --rearground: rgb(240, 240, 240);
    --rearground-border: rgb(220, 220, 220);
    --foreground: black;
    --foreground2: rgb(50, 50, 50);
    --foreground3: rgb(100, 100, 100);
}