<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vector Icons Preview</title>

    <link rel="shortcut icon" href="./favicon.svg">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/variables.css">

    <script src="index.js" defer></script>
</head>
<body>
    <select id="icon-selector">
        <option>All</option>
    </select>
    <div style="padding: 15px;">
        <div style="color: var(--foreground2); margin-bottom: 15px;">
            <span id="icon-count">loading...</span>
        </div>
        <div id="viewer"></div>
    </div>
</body>
</html>